
form#mainform(action='')

    #condition-inner
      label 內容分級    :  
      label      normal
       input#ugcSearchVIPRadioInput(type='radio', name='searchByVIP', value = 'normal')
      label      vip
       input(type='radio', name='searchByVIP', value = 'vip')
      br
      label 類別    :  
      label      合成影片
       input#ugcSearchMiixGenreRadioInput(type='radio', name='searchByGenre', value = 'miix')
      label      合成影像
       input(type='radio', name='searchByGenre', value = 'miix_image')
      br
      div(sensitive='true')
          label 查詢fb人名
          input(class='ugcSearchFBBtn', type='text' ,name='ugcSearchFBText' ,onfocus='this.value=\'\'')
          input#ugcSearchFBBtn(type='button', class='ugcSearch', value='搜尋')
          br
          label 查詢影片
          input(class='ugcSearchBtn', type='text' ,name='ugcSearchText' ,onfocus='this.value=\'\'')
          input#ugcSearchBtn(type='button', class='ugcSearch', value='搜尋')
          br
          label
          | 篩選條件
          input#ugcSearchNoRatingBtn(type='button', value='尚未審核')
          input#ugcSearchRatingBtn(type='button', value='已經審核')
          input#ugcSearchAllBtn(type='button', value='All')
          | and / or
          label 投件時間
          input(class='ugcSearchDateBtn', type='text', name='timeStart')
          | 到
          input(class='ugcSearchDateBtn', type='text', name='timeEnd')
          input#ugcSearchDateBtn(type='button', class='ugcSearchDate', value='送出')
    

    table#product-table(border='0', width='100%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 主題類別
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') VIP
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') UGC編號
          th.table-header-repeat.line-left.minwidth-1(width='10' sensitive='true')
            a(href='') 投稿時間
          th.table-header-repeat.line-left.minwidth-1(width='700')
            a(href='') 長條圖
          th.table-header-repeat.line-left.minwidth-1(width='10' sensitive='true')
            a(href='') 列入排程次數
          th.table-header-repeat.line-left.minwidth-1(width='10' sensitive='true')
            a(href='') 播放並實拍成功次數  
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 審核
          th.table-header-repeat.line-left.minwidth-1(width='10' sensitive='true')
            a(href='') 捷運局審查
          th.table-header-repeat.line-left.minwidth-1(width='10')
            a(href='') 本次必登

        if(ugcCensorMovieList)
            each ugcCensor, i in ugcCensorMovieList
                if i%2
                    tr
                      td 
                         if(ugcCensor.contentGenre == 'miix_it')
                             label.label_video 合成影片
                         if(ugcCensor.contentGenre == 'cultural_and_creative')
                             label.label_design 文創
                         if(ugcCensor.contentGenre == 'mood')
                             label.label_mood 心情
                         if(ugcCensor.contentGenre == 'check_in')
                             label.label_checkin 打卡
                      td #{ugcCensor.contentClass}
                      td #{ugcCensor.ugcCensorNo}
                      td(sensitive='true') #{ugcCensor.createdOn}
                      if(ugcCensor.contentGenre == 'miix_it')
                         td
                             img(src='#{ugcCensor.fbPictureUrl}', alt='', width='120', sensitive='true')
                             label       
                             img(src='#{ugcCensor.userPhotoUrl}', alt='', width='300', style='padding:5px')
                             div(id='miixVideoStateDiv_#{i}', style='display:inline')
                                if ugcCensor.url.youtube
                                    iframe(width='256',height='144', src='#{ugcCensor.url.youtube}')
                                else
                                    case ugcCensor.processingState
                                        when 'under_generating'
                                            label 正在產生拉洋片...
                                        when 'generating_failed'
                                            label 上回產生拉洋片失敗!!　
                                            input(class='ugcGenVideoUgcBtn', type='button', value='重新產生拉洋片', projectId='#{ugcCensor.ugcProjectId}', rowIndex='#{i}')
                                        when 'not_generated'
                                            input(class='ugcGenVideoUgcBtn', type='button', value='產生拉洋片', projectId='#{ugcCensor.ugcProjectId}', rowIndex='#{i}')
                      else
                         td
                             a(href='#{ugcCensor.url.s3}',target='_blank')  
                                 img(src='#{ugcCensor.url.s3}', alt='', width='700', height='149') 
                     
                      td(sensitive='true') #{ugcCensor.tsUGCCount}
                      td(sensitive='true') #{ugcCensor.tsLiveStateCount}
                      td
                         #checkboxGroup
                           if(ugcCensor.rating == 'A')
                             input#ugcCensor.ugcCensorNoa(type='radio', value='A', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   A
                             br
                           else
                             input#ugcCensor.ugcCensorNoa(type='radio', value='A', name='#{ugcCensor.ugcCensorNo}')
                             |   A
                             br
                           if(ugcCensor.rating == 'B')
                             input#ugcCensor.ugcCensorNob(type='radio', value='B', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   B
                             br
                           else
                             input#ugcCensor.ugcCensorNob(type='radio', value='B', name='#{ugcCensor.ugcCensorNo}')
                             |   B
                             br
                           if(ugcCensor.rating == 'C')
                             input#ugcCensor.ugcCensorNoc(type='radio', value='C', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   C
                             br
                           else
                             input#ugcCensor.ugcCensorNoc(type='radio', value='C', name='#{ugcCensor.ugcCensorNo}')
                             |   C
                             br
                           if(ugcCensor.rating == 'D')
                             input#ugcCensor.ugcCensorNod(type='radio', value='D', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   D
                             br
                           else
                             input#ugcCensor.ugcCensorNod(type='radio', value='D', name='#{ugcCensor.ugcCensorNo}')
                             |   D
                             br
                           if(ugcCensor.rating == 'E')
                             input#ugcCensor.ugcCensorNoe(type='radio', value='E', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   E
                             br
                           else
                             input#ugcCensor.ugcCensorNoe(type='radio', value='E', name='#{ugcCensor.ugcCensorNo}')
                             |   E
                             br
                           if(ugcCensor.rating == 'F')
                             input#ugcCensor.ugcCensorNof(type='radio', value='F', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   F
                             br
                           else
                             input#ugcCensor.ugcCensorNof(type='radio', value='F', name='#{ugcCensor.ugcCensorNo}')
                             |   F
                             br
                         .clear
                      td(sensitive='true')
                        if(ugcCensor.forMRTReview == true)					  
                          input#ugcCensor.ugcCensorMRT(type='checkbox', value='#{ugcCensor.forMRTReview}', name='#{ugcCensor.ugcCensorNo}', checked)
                        else
                          input#ugcCensor.ugcCensorMRT(type='checkbox', value='#{ugcCensor.forMRTReview}', name='#{ugcCensor.ugcCensorNo}')
                      td
                        if(ugcCensor.mustPlay == true)					  
                          input#ugcCensor.ugcCensorNoMP(type='checkbox', value='#{ugcCensor.mustPlay}', name='#{ugcCensor.ugcCensorNo}', checked)
                        else
                          input#ugcCensor.ugcCensorNoMP(type='checkbox', value='#{ugcCensor.mustPlay}', name='#{ugcCensor.ugcCensorNo}')


                else
                    tr.alternate-row
                      td
                         if(ugcCensor.contentGenre == 'miix_it')
                             label.label_video 合成影片
                         if(ugcCensor.contentGenre == 'cultural_and_creative')
                             label.label_design 文創
                         if(ugcCensor.contentGenre == 'mood')
                             label.label_mood 心情
                         if(ugcCensor.contentGenre == 'check_in')
                             label.label_checkin 打卡
                      td #{ugcCensor.contentClass}
                      td #{ugcCensor.ugcCensorNo}
                      td(sensitive='true') #{ugcCensor.createdOn}
                      if(ugcCensor.contentGenre == 'miix_it')
                         td
                             img(src='#{ugcCensor.fbPictureUrl}', alt='', width='120', sensitive='true')
                             label       
                             img(src='#{ugcCensor.userPhotoUrl}', alt='', width='300', style='padding:5px')
                             div(id='miixVideoStateDiv_#{i}', style='display:inline')
                                if ugcCensor.url.youtube
                                    iframe(width='256',height='144', src='#{ugcCensor.url.youtube}')
                                else
                                    case ugcCensor.processingState
                                        when 'under_generating'
                                            label 正在產生拉洋片...
                                        when 'generating_failed'
                                            label 上回產生拉洋片失敗!!　
                                            input(class='ugcGenVideoUgcBtn', type='button', value='重新產生拉洋片', projectId='#{ugcCensor.ugcProjectId}', rowIndex='#{i}')
                                        when 'not_generated'
                                            input(class='ugcGenVideoUgcBtn', type='button', value='產生拉洋片', projectId='#{ugcCensor.ugcProjectId}', rowIndex='#{i}')
                      else
                         td
                             a(href='#{ugcCensor.url.s3}',target='_blank')  
                                 img(src='#{ugcCensor.url.s3}', alt='', width='700', height='149')
                      
                      td(sensitive='true') #{ugcCensor.tsUGCCount}
                      td(sensitive='true') #{ugcCensor.tsLiveStateCount}
                      td
                         #checkboxGroup
                           if(ugcCensor.rating == 'A')
                             input#ugcCensor.ugcCensorNoa(type='radio', value='A', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   A
                             br
                           else
                             input#ugcCensor.ugcCensorNoa(type='radio', value='A', name='#{ugcCensor.ugcCensorNo}')
                             |   A
                             br
                           if(ugcCensor.rating == 'B')
                             input#ugcCensor.ugcCensorNob(type='radio', value='B', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   B
                             br
                           else
                             input#ugcCensor.ugcCensorNob(type='radio', value='B', name='#{ugcCensor.ugcCensorNo}')
                             |   B
                             br
                           if(ugcCensor.rating == 'C')
                             input#ugcCensor.ugcCensorNoc(type='radio', value='C', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   C
                             br
                           else
                             input#ugcCensor.ugcCensorNoc(type='radio', value='C', name='#{ugcCensor.ugcCensorNo}')
                             |   C
                             br
                           if(ugcCensor.rating == 'D')
                             input#ugcCensor.ugcCensorNod(type='radio', value='D', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   D
                             br
                           else
                             input#ugcCensor.ugcCensorNod(type='radio', value='D', name='#{ugcCensor.ugcCensorNo}')
                             |   D
                             br
                           if(ugcCensor.rating == 'E')
                             input#ugcCensor.ugcCensorNoe(type='radio', value='E', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   E
                             br
                           else
                             input#ugcCensor.ugcCensorNoe(type='radio', value='E', name='#{ugcCensor.ugcCensorNo}')
                             |   E
                             br
                           if(ugcCensor.rating == 'F')
                             input#ugcCensor.ugcCensorNof(type='radio', value='F', name='#{ugcCensor.ugcCensorNo}' , checked)
                             |   F
                             br
                           else
                             input#ugcCensor.ugcCensorNof(type='radio', value='F', name='#{ugcCensor.ugcCensorNo}')
                             |   F
                             br
                         .clear
                      td(sensitive='true')
                        if(ugcCensor.forMRTReview == true)					  
                          input#ugcCensor.ugcCensorMRT(type='checkbox', value='#{ugcCensor.forMRTReview}', name='#{ugcCensor.ugcCensorNo}', checked)
                        else
                          input#ugcCensor.ugcCensorMRT(type='checkbox', value='#{ugcCensor.forMRTReview}', name='#{ugcCensor.ugcCensorNo}')
                      td 
                        if(ugcCensor.mustPlay == true)					  
                          input#ugcCensor.ugcCensorNoMP(type='checkbox', value='#{ugcCensor.mustPlay}', name='#{ugcCensor.ugcCensorNo}', checked)
                        else
                          input#ugcCensor.ugcCensorNoMP(type='checkbox', value='#{ugcCensor.mustPlay}', name='#{ugcCensor.ugcCensorNo}')

