
form#mainform(action='')

    table#product-table(border='0', width='100%', cellpadding='0', cellspacing='0')
        tr
          th.table-header-repeat.line-left.minwidth-1(width='109')
            a(href='') 播放時間
          th.table-header-repeat.line-left.minwidth-1(width='180')
            a(href='') 人工調整(輸入影片編號)
          th.table-header-repeat.line-left.minwidth-1(width='104')
            a(href='') 影片編號
          th.table-header-repeat.line-left.minwidth-1(width='86')
            a(href='') 主題類別
          th.table-header-repeat.line-left.minwidth-1(width='700')
            a(href='') 長條圖  
          th.table-header-repeat.line-left.minwidth-1(width='69')
            a(href='') 審核結果
          th.table-header-repeat.line-left.minwidth-1(width='120')
            a(href='') 刪除且自動替補

        if(ugcCensorPlayList)
            each PlayList, i in ugcCensorPlayList
                if i%2
                    tr
                      td start : #{PlayList.timeslotStart}
                        br
                        label end : #{PlayList.timeslotEnd}
                        br
                        # #{PlayList.ugcSequenceNo}
                        if (PlayList.predictedPlayTime )
                            br
                            br
                            label 預計#{PlayList.predictedPlayTime}播放
                      td 
                        input(id='#{PlayList.programTimeSlotId}' class='#PlayList.ugcCensorNoSetBtn', type='text' ,name='ugcChangeText' ,onfocus='this.value=\'\'')
                        input#PlayList.ugcCensorNoSetBtn(type='button', class='ugcChange', value='確認', name='#{PlayList.programTimeSlotId}')
                      td(id='#{PlayList.programTimeSlotId}' class='ugcNo' original_content_class='#{PlayList.contentClass}') #{PlayList.ugcCensorNo}
                        if (PlayList.contentClass == 'VIP')
                            br
                            label.label_special_condition VIP
                        if (PlayList.isLoopedAround == true)
                            br
                            label.label_special_condition 已從頭循環
                        if (PlayList.mustPlay == true)
                            br
                            label.label_special_condition 必播
                        if (PlayList.failedToGenliveContentInLastPlay == true)
                            br
                            label.label_special_condition 上回實拍失敗
                      td(id='#{PlayList.programTimeSlotId}' class='ugcGenre')
                         if(PlayList.contentGenre == 'miix_it')
                             label.label_video 合成影片
                         if(PlayList.contentGenre == 'cultural_and_creative')
                             label.label_design 文創
                         if(PlayList.contentGenre == 'mood')
                             label.label_mood 心情
                         if(PlayList.contentGenre == 'check_in')
                             label.label_checkin 打卡
                         if(PlayList.contentGenre == 'wls')
                             label.label_wls 國票
                      if(PlayList.contentGenre == 'miix_it')
                         td(id='#{PlayList.programTimeSlotId}' class='ugcImage')
                             img(src='#{PlayList.fbPictureUrl}', alt='', width='120')
                             label       
                             img(src='#{PlayList.userPhotoUrl}', alt='', width='360')
                             br
                             label #{PlayList.fb_userName} 
                      else
                         td(id='#{PlayList.programTimeSlotId}' class='ugcImage')
                             a(href='#{PlayList.url}',target='_blank')
                                 img(class='sourceUgc' id='#{PlayList.ugcCensorNo}_img' src='#{PlayList.url}', alt='', width='700', height='149')
                      td(id='#{PlayList.programTimeSlotId}' class='ugcRating') #{PlayList.rating}
                      td
                        input#PlayList.ugcCensorNoRemoveBtn(type='button', value='刪除且自動替補', name='#{PlayList.programTimeSlotId}')

                else
                    tr.alternate-row
                      td start : #{PlayList.timeslotStart}
                        br
                        label end : #{PlayList.timeslotEnd}
                        br
                        # #{PlayList.ugcSequenceNo}
                        if (PlayList.predictedPlayTime )
                            br
                            br
                            label 預計#{PlayList.predictedPlayTime}播放
                      td
                        input(id='#{PlayList.programTimeSlotId}' class='#PlayList.ugcCensorNoSetBtn', type='text' ,name='ugcChangeText' ,onfocus='this.value=\'\'')
                        input#PlayList.ugcCensorNoSetBtn(type='button', class='ugcChange', value='確認', name='#{PlayList.programTimeSlotId}')
                      td(id='#{PlayList.programTimeSlotId}' class='ugcNo' original_content_class='#{PlayList.contentClass}') #{PlayList.ugcCensorNo}
                        if (PlayList.contentClass == 'VIP')
                            br
                            label.label_special_condition VIP
                        if (PlayList.isLoopedAround == true)
                            br
                            label.label_special_condition 已從頭循環 
                        if (PlayList.mustPlay == true)
                            br
                            label.label_special_condition 必播
                        if (PlayList.failedToGenliveContentInLastPlay == true)
                            br
                            label.label_special_condition 上回實拍失敗
                      td(id='#{PlayList.programTimeSlotId}' class='ugcGenre')
                         if(PlayList.contentGenre == 'miix_it')
                             label.label_video 合成影片
                         if(PlayList.contentGenre == 'cultural_and_creative')
                             label.label_design 文創
                         if(PlayList.contentGenre == 'mood')
                             label.label_mood 心情
                         if(PlayList.contentGenre == 'check_in')
                             label.label_checkin 打卡
                         if(PlayList.contentGenre == 'wls')
                             label.label_wls 國票
                      if(PlayList.contentGenre == 'miix_it')
                         td(id='#{PlayList.programTimeSlotId}' class='ugcImage')
                             img(src='#{PlayList.fbPictureUrl}', alt='', width='120')
                             label       
                             img(src='#{PlayList.userPhotoUrl}', alt='', width='360')
                             br
                             label #{PlayList.fb_userName} 
                      else
                         td(id='#{PlayList.programTimeSlotId}' class='ugcImage')
                             a(href='#{PlayList.url}',target='_blank')
                                 img(class='sourceUgc' id='#{PlayList.ugcCensorNo}_img' src='#{PlayList.url}', alt='', width='700', height='149')
                      td(id='#{PlayList.programTimeSlotId}' class='ugcRating') #{PlayList.rating}
                      td
                        input#PlayList.ugcCensorNoRemoveBtn(type='button', value='刪除且自動替補', name='#{PlayList.programTimeSlotId}')

    input#pushProgramsBtn(type='button', class='Programs', value='送出')